header {
    padding: 1em;
    background: #000103;
    color: white;
  }

  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    width: 100%; 
    height: 100vh;
    background: #D64006;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    transition: .3s;
  }
  
  nav ul .close {
    font-size: 2.5em;
    color: white;
    position: absolute;
    top: .2em;
    right: .2em;
    cursor: pointer;
  }
  
  nav ul a {
    color: black;
    display: block;
    padding: 1em;
    font-weight: normal;
    font-size: 1.5em;
    color: white;
  }
  
  nav .menu {
    float: right;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .open-nav {
    opacity: 1;
    visibility: unset;
    overflow: hidden;
  }
  
  .wrapper {
    color: white;
  }
  
  nav a h1 {
    color: white;
    font-size: 1em;
    font-weight: bold;
  }
  
  
  .top-page {
    height: 750px;
    text-align: center;
    position: relative;
  }
  
  .top-page .top-page-content {
    height: 90%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .background-img {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../images/christian-englmeier-J7EUjSlNQtg-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: -800px 0;
    background-size: 2000px;
    z-index: -1;
  }
  
  .top-page h1 {
    margin: 0 auto 1em;
    width: 90%;
    position: relative;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  
  .top-page h1::before {
    content: '';
    position: absolute;
    top: -30%;
    left: 40%;
    height: 5px;
    width: 22%;
    background:#D64006; 
  }
  .top-page p {
    color: #BCB8B8;
    line-height: 1.7em;
    margin: 0 auto 2.5em;
  }
  
  .buttons .cta {
    background: #D64006;
    color: white;
    font-weight: bold;
    display: block;
    margin: 1em auto;
    padding: 1em;
    cursor: pointer;
  }
  
  .buttons .secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 1px solid #D38567;
    position: relative;
  }
  
  .arrow-right{
    font-size: 1.5em;
    position: absolute;
    right: 0;
    margin-right: .5em;
  }
  
  .our-products {
    color: black;
    background: white;
    padding: 1em;
    text-align: center;
  }
  
  .our-products img {
    width: 250px;
    margin-right: 2.2em;
  }
  
  
  .our-products h2,
  .our-features h2,
  .our-reputation h2 {
    font-size: 1.8em;
    margin: .5em;
  }
  .our-products h3 {
    font-size: 1.6em;
  }
  
  .product-container,
  .feature-container {
    margin: 1.5em auto;
  }
  
  .product-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
  }
  
  .product-title h3{
    width: 40%;
    text-align: left;
  }
  
  .product-title span{
    font-weight: bold;
    font-size: 2em;
  }
  
  .product-container p {
    color: #817E7E;
    
    font-size: 1.1em;
    margin-bottom: 2em;
    line-height: 1.6em;
  }
  
  .cta-buttons .cta {
    background: #D64006;
    color: white;
    font-weight: bold;
    display: block;
    padding: 1em;
    cursor: pointer;
  }

  .cta-buttons .primary {
    margin-bottom: 1em;
  } 
  
  .cta-buttons .secondary {
    background: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
    border-bottom: 2px solid black;
    margin-bottom: 2em;
  }
  
  .arrow {
    font-size: 1.5em;
  }
  
  .our-features {
    color: black;
    text-align: center;
    background: #F0F0F0;
    padding: 1em;
  }
  
  .our-features svg{
    font-size: 3em;
    color: #D64006;
  }
  
  .feature-container h3 {
    font-size: 1.6em;
    margin: .5em 0;
  }
  
  .feature-container p {
    color: #817E7E;
    line-height: 1.5em;
  }
  
  .our-reputation {
    color: black;
    text-align: center;
    padding: 1em;
  }
  
  .our-reputation p{
    color: #817E7E;
    line-height: 1.7em;
    margin: 2em 0;
  }
  
  .testimonial-card {
    background: #F0F0F0;
    margin: 2em auto;
    padding: 1.5em .5em;
    border-radius: 4em;
  }
  
  .testimonials .testimonial-card:first-child .avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: auto;
    display: block;
    background-image: url(../images/IPTV-testimonial1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .testimonials .testimonial-card:nth-child(2) .avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: auto;
    display: block;
    background-image: url(../images/IPTV-testimonial2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .testimonials .testimonial-card:nth-child(3) .avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: auto;
    display: block;
    background-image: url(../images/IPTV-testimonial4.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .testimonial-card blockquote {
    font-size: 1.2em;
    font-weight: 300;
    font-style: italic;
    line-height: 1.5em;
    width: 85%;
    margin: 1em auto .5em;
  }
  
  .testimonial-card span {
    font-weight: bold;
    font-size: .8em;
  }
  
  .product-detail {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    background: #FFFFFF;
    padding: 1em;
    width: 95%;
    height: 95vh;
    top: 2.5%;
    right: 2.5%;
    display: grid;
    place-content: center;
    box-shadow: 0px 0px 10px grey;
    z-index: 100;
  }
  
  .product-detail .product-detail-content  .product-title h3 {
    width: 30%;
  }

  .product-detail .product-detail-content p {
    line-height: 2em;
    font-size: 1em;
    margin-bottom: 2em;
  }


  .product-detail .product-detail-content a {
    background: #D64006;
    color: white;
    font-weight: bold;
    display: block;
    padding: 1em;
    margin-bottom: 2em;
    cursor: pointer;
    z-index: 1;
  }

  .product-detail .product-img {
    margin: 0em 1em 1em;
    width: 23em;
  }

  .close-detail {
    font-size: 2.5em;
    color: rgb(11, 11, 11);
    position: absolute;
    top: 0em;
    right: 0em;
    cursor: pointer;
  }

  .detail-opened {
    visibility: unset;
    opacity: 1;
  }

  .purchase-page {
    position: relative;
  }

  .purchase-page-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
  }

  .product-ordered {
    position: relative;
    background: #FAFCFF ;
    height: 94vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
  }
  .product-ordered .back-arrow {
    font-size: 2.5em;
    position: absolute;
    left: 0%;
    top: 0%;
    cursor: pointer;
  }

  .product-ordered .product-card ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product-ordered .product-card ul li {
    display: flex;
    flex-direction: column;
    gap: .5em;
  }
  .product-ordered .product-card ul li p {
    display: flex;
    align-items: center;
  }
  .product-ordered .product-card ul li p .subtract,
  .product-ordered .product-card ul li p .add {
    font-size: 1.1em;
    margin: auto 1em;
  }

  .product-ordered .product-card ul li p .add:hover {
    color: green;
  }

  .purchase-page span {
    font-weight: bold;
    letter-spacing: .1em;
  }

  .product-ordered .product-card ul li i {
    font-size: 1.5em;
    cursor: pointer;
  }

  .product-ordered .product-card ul li i:hover {
    color: rgb(210, 50, 50);
  }

  .product-ordered .product-card {
    height: 150px;
    border-radius: 10px;
    background: linear-gradient(225deg, #e1e3e6, #ffffff);
    box-shadow:  -20px 20px 60px #d5d6d9,
                 20px -20px 60px #ffffff;
    width: 90%;
    margin: 3em auto 5em;
    padding: 1em 1em 1em 0em;
    display: flex;
    justify-content: flex-start;
    align-items:center;
  }

  img.orderd-product {
    width: 150px;
  }

  .product-ordered ul.order-total {
    width: 90%;
    border-radius: 10px;
    background: linear-gradient(225deg, #e1e3e6, #ffffff);
    box-shadow:  -20px 20px 60px #d5d6d9,
                 20px -20px 60px #ffffff;
    margin: 0 auto 5em;
    padding: 2em 1em;
  }

  .product-ordered ul.order-total li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  .product-ordered ul.order-total li:nth-child(2) {
    margin-bottom: 3em;
  }

  .product-ordered ul.order-total li:last-child {
    margin: 0em;
  }

  .product-ordered ul.cta-section {
    width: 90%;
    margin: 0 auto;
    padding: 1em 0;
  } 

  .product-ordered ul.cta-section li {
    margin: 0 auto 1em;
    text-align: center;
  }

  .product-ordered ul.cta-section li a {
    font-weight: bold;
    display: block;
    color: white;
    background: #D64006;
    padding: 1em;
    gap: 1em;
    max-width: 500px;
    margin: 0 auto;
  }

  .product-ordered ul.cta-section li p {
    font-weight: bold;
  }

  .product-ordered ul.cta-section li a span {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .purchase-page .payment-container {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 2em 1em;
    background: #F6F6F6;
    z-index: 1;
    box-shadow: -6px 8px 14px -3px rgba(0,0,0,0.39);
    -webkit-box-shadow: -6px 8px 14px -3px rgba(0,0,0,0.39);
    -moz-box-shadow: -6px 8px 14px -3px rgba(0,0,0,0.39);
    transition: .3s;
  }
  .purchase-page .payment-container .close-payment {
    font-size: 2.5em;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  .purchase-page .payment-opened {
    visibility: unset;
    opacity: 200;
  }

  .purchase-page .payment-container form {
    width: 100%;
    margin: 3em auto 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(8, auto);
    /* grid-gap: .5em; */
  }

  
  .purchase-page .payment-container form input {
    width: 100%;
    height: 50px;
    margin: .5em 0 2em;
    border: none;
    background-color: #F6F6F6;
    border-bottom: .1em solid #D38567;
    padding: .9em;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: .1em;
    outline: none;
  }

  .purchase-page .payment-container form label {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
  }

  .purchase-page .payment-container form label:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .purchase-page .payment-container form input[name=card] {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .purchase-page .payment-container form label:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .purchase-page .payment-container form input[name=date] {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .purchase-page .payment-container form label:nth-child(3) {
    grid-row: 3 / 4;
  }
  
  .purchase-page .payment-container form input[name=code] {
    grid-column: 2 / 3;
    grid-row: 4 / 5; 
  }

  .purchase-page .payment-container form label:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 5 / 6
  }

  .purchase-page .payment-container form input[name=name] {
    grid-column: 1 / 3;
    grid-row: 6 / 7 ;
  }

  .purchase-page .payment-container form a {
    grid-column: 1 / 3;
    grid-row: 7 / 8;
    font-weight: bold;
    display: block;
    color: white;
    background: #D64006;
    padding: 1em;
    gap: 1em;
    text-align: center;
  }

  .purchase-page .payment-container form a span {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .purchase-page .payment-container .total-tbp {
    text-align: center;
    margin-bottom: 2em;
  }

  .purchase-page .payment-container .total-tbp span {
    font-size: 1.4em;
  }

  .purchase-page .payment-container hr {
    width: 80%;
    margin: 0 auto;
    border-top: 2px dashed #000103
  }

  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #D64006;
    border-color: #D64006 transparent #D64006 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }



  @media (min-width: 550px) {
    .product-container,
    .testimonial-card {
      width: 450px;
    }

    .cta-buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .cta-buttons .primary {
      margin: 0;
      padding: 1.15em ;
    } 

    .cta-buttons .cta {
      flex: 0 0 47%;
      margin: 0;
    }
  }
  
  @media (min-width: 620px) {
    body {
      font-size: 16px;
    }

    nav {
      padding: .7em 0;
    }
    nav ul {
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;
      visibility: unset;
      opacity: 1;
      background: none;
      position: unset;
      display: flex;
      flex-direction: row;
    }
  
    .background-img {
      background-position: -500px 0;
      background-size: 2000px;
    }

    nav ul li a {
      font-size: unset;
      padding: 0 1.5em;
      font-weight: normal;
      /* border: 1px solid red; */
    }
  
    .purchase-link {
      padding-right: 0;
      /* padding: .05em; */
      display: flex;
      font-size: 1.2em;
    }
  
    .menu, .close {
      display: none;
    }

    .top-page .top-page-content {
      height: 80%; 
    }
  
    .top-page h1{
      font-size: 2.5em;
      width: 75%;
      max-width: 620px;
      margin: 1em auto;
  
    }
    
    .top-page h1::before{
      top: -25%;
      left: 35%;
      width: 30%;
      height: 6px;
    }
    .top-page p {
      font-size: 1.1em;
      width: 75%;
      max-width: 620px;
      line-height: 1.8em;
    }
    .buttons {
      width: 75%;
      max-width: 620px;
      margin: 0 auto;
      display: flex;
      gap: 1em;
      justify-content: space-between;
    }
    .cta {
      flex: 0 0 50%;
      margin: 0;
    }
  
    .our-products ul,
    .our-features ul {
      display: flex;
      gap: 1em;
      flex-wrap: wrap;
    }

    .our-products ul li p,
    .our-features ul li p,
    .our-reputation p {
      font-size: 1.1em;
      line-height: 1.8em;
    }
  
    .product-title h3{
      width: 50%;
      text-align: left;
    }

    .feature-container {
      max-width: 400px;
    }

    .our-features svg{
      font-size: 3.5em;
    }
    
    .testimonial-card {
      width: 90%;
      max-width: 620px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      padding: 1em 1em;
      border-radius: 2em;
    }
  
    .testimonial-card .avatar {
      flex: 0 0 90px;
    }
  
    .testimonial-card blockquote {
      margin-top: 0;
    } 

    .testimonials ul li:first-child {
      transform: translate(35px , 0%);
    }
  
    .testimonials ul li:last-child {
      transform: translate(20px, 0%);
    }

    .purchase-page .payment-container {
      width: 70%;
      height: 100%;
      top: 0;
      left: 30%;

      
    }
  }


  @media (min-width: 1000px) {
    .product-detail {
      padding: 2em; 
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
      height: 700px;
      top: 10%;
    }

    .product-detail .product-img {
      margin: 0 -7em 0 -9em;
      width: 45em;

    }

    .product-detail .product-detail-content p {
      line-height: 2.5em;
    }

    .product-detail .product-detail-content {
      display: flex;
      flex: 0 0 55%;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 3em;
      gap: 1em;
      font-size: 1.1em;
      max-width: fit-content;
      padding: 1em;
    }
  
  }
  
  @media (min-width: 1200px) {
    body {
      font-size: 17px;
    }
    header {
      font-size: 1.2em;
      padding: .5em 3em;

    }
    .top-page {
      min-height: 800px;
    }
    

    .top-page .top-page-content{
      height: 100%;
      width: unset;
      text-align: left;
      margin: 0;
      padding: 4em;
      gap: 2em;
    }
  
    .top-page-content h1 {
      margin: 0;
      padding: 0;
      font-size: 4.3em;
    }
  
    .top-page-content h1::before{
      top: 0%;
      left: 0%;
      width: 30%;
      height: 10px;
    }
  
    .top-page-content p {
      font-size: 1.3em;
      max-width: 600px;
      margin: 0;
    }
  
    .buttons {
      margin: 0;
      padding: 0;
      max-width: 600px;
      gap: 1em;
    }
  
    .primary,
    .secondary {
      font-size: 1.2em;
    }
  
    .primary {
      text-align: center;
    }
  
    .top-page .background-img {
      background-position: 0 0;
      background-size: 2000px;
    }
  
    .our-products,
    .our-features,
    .our-reputation {
      text-align: left;
      padding: 2em 4em;
    }

    .our-products h2,
    .our-features h2,
    .our-reputation h2 {
      margin: 0;
    }

    .product-container,
    .feature-container,
    .reputation-content p {
      margin-left: 0;
    }

    .product-container img {
      width: 350px;
    }

    
    .feature-container {
      text-align: left;
      margin-top: 5em;
    }
  
    .feature-container h3{
      margin: .5em 0 ;
    }

    .our-features svg{
      font-size: 4em;
    }

    .reputation-content {
      margin-top: 2em;
      display: flex;
      gap: 1em;
    }
  
    .reputation-content p {
      font-size: 1.2em;
      line-height: 1.7em;
      flex: 0 0 50%;
    }
  
    .testimonials {
      flex: 0 0 50%;
    }
  
    .testimonial-card {
      width: 650px;
      max-width: unset;
      text-align: left;
      gap: 1em;
    }
    
    .testimonial-card blockquote {
      width: unset;
    }
  
  
    .testimonials ul li:first-child {
      transform: translate(-35px , 0%);
    }
  
    .testimonials ul li:last-child {
      transform: translate(-20px, 0%);
    }

    .product-ordered ul.cta-section li a {
      max-width: 50%;
      margin: 0;
    }

    .product-ordered .payment-container {
      width: 40%;
      top: 0;
      left: unset;
      right: 0;
    }  
    
    .purchase-page {
      display: flex;
      /* min-height: 70vh; */
      /* overflow: none; */

    }

    .product-ordered {
      flex:0 0 67%;
    }
    .purchase-page .payment-container {
      position: unset;
      height: 94vh;
      visibility: unset;
      opacity: 1;
      transition: unset;
    }

    .cta-section,
    .close-payment {
      display: none;
    }

    .product-ordered .product-card,
    .product-ordered .order-total {
      height: 250px;
      font-size: 1.2em;
    }

    .product-ordered .product-card img {
      width: 300px;
      margin: 0 0 0 -1.5em;
    }
    
    .product-ordered .product-card ul li {
      gap: 1.3em; 
    }
  }
  
  @media (min-width: 1500px) {
    .product-detail {
      max-width: 1360px;
      right: 9%;
    }
    
  }