.header-black {
    background: #141313;
  }

  .top-page-product {
    height: 600px;
    text-align: center;
    background-color: #141313;
  }

  .top-page-product .top-page-content {
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .top-page-product .top-page-content h1 {
    margin: 1em;
    position: relative;
  }

  .top-page-product .top-page-content h1::before {
    content: '';
    position: absolute;
    top: -30%;
    left: 40%;
    height: 5px;
    width: 22%;
    background:#D64006;  
  }

  .top-page-product .top-page-content p {
    color: #BCB8B8;
    line-height: 1.7em;
    margin: 0 auto 2.5em;
  }

  .tv-picture {
    display: none;
  }

  .products {
    color: black;
    background: transparent;
    padding: 1em;
    margin-top: -10em;
    text-align: center;
  }

  .products h3 {
    font-size: 1.6em;
  }
  
  .products img {
    width: 250px;
    margin-right: 2.2em;
  }


  @media (min-width: 550px) {
    .cta-buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .cta-buttons .cta {
      flex: 0 0 47%;
      margin: 0;
    }
  }
  
  @media (min-width: 620px) {
    .top-page-product .top-page-content {
      text-align: center;
    }
    header {
      padding: .5em 1em;
    }
    nav ul {
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;
      visibility: unset;
      opacity: 1;
      background: none;
      position: unset;
      display: flex;
      flex-direction: row;
    }

    nav h1 {
      font-size: 1.1em;
    }
  
    nav ul li a {
      font-size: 1em;
      padding: 0 1.5em;
      font-weight: normal;
    }
  
    .contacts-link {
      padding-right: 0;
    }
  
    .menu, .close {
      display: none;
    }

    .top-page-product .top-page-content h1{
      font-size: 2.5em;
      width: 50%;
      margin: 1em auto;
  
    }
    
    .top-page-product .top-page-content h1::before{
      top: -25%;
      width: 30%;
    }
    .top-page-product .top-page-content p {
      font-size: 1.1em;
      width: 65%;
      line-height: 1.5em;
      margin: 1em auto;
    }
    .products ul {
      display: flex;
      flex-wrap: wrap;
    }
  
    .product-title h3{
      width: 50%;
      text-align: left;
    }
  
  }
  
  @media (min-width: 1200px) {
    header {
      font-size: 1.2em;
      padding: .5em 1.5em;
    }

    .top-page-product {
      min-height: 830px;
      width: 68%;
    }

    .top-page-product .top-page-content{
      height: 650px;
      text-align: left;
      margin: 0;
      padding: 4em;
      gap: 2em;
    }
  
    .top-page-product .top-page-content h1 {
      margin: 0;
      padding: 0;
      font-size: 3em;
      width: 100%;
    }
  
    .top-page-product .top-page-content h1::before{
      top: -20%;
      left: 0%;
      width: 20%;
      height: 10px;
    }
  
    .top-page-product .top-page-content p {
      font-size: 1.3em;
      width: 80%;
      margin: 0;
    }

    .tv-picture {
      display: unset;
      width: 600px;
      position: absolute;
      top: 25%;
      right: 2%;
    }

    .products {
      margin-top: -15em;
      margin-left: 4em;
      margin-right: 4em;
      margin-bottom: 5em;
      text-align: left;
    }

    .products ul {
      padding-bottom: 5em;
    }

    .product-container img {
      width: 350px;
    }

    .product-container h3, span, p {
      text-align: left;
    }
  }