.header-black {
    background: #141313;
  }

.top-page-product {
    height: 600px;
    text-align: center;
    background-color: #141313;
}

.top-page-product .top-page-content {
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-page-product .top-page-content h1 {
    margin: 1em;
    position: relative;
}

.top-page-product .top-page-content h1::before {
    content: '';
    position: absolute;
    top: -30%;
    left: 40%;
    height: 5px;
    width: 22%;
    background:#D64006;  
 }

.top-page-product .top-page-content p {
    color: #BCB8B8;
    line-height: 1.7em;
    margin: 0 auto 2.5em;
}

.tv-picture {
    display: none;
}

.products {
    color: black;
    background: transparent;
    padding: 1em;
    margin-top: -10em;
    text-align: center;
}

.products h3 {
    font-size: 1.6em;
}
  
.products img {
    width: 250px;
    margin-right: 2.2em;
}

  @media (min-width: 620px) {
    .top-page-product .top-page-content h1{
      font-size: 2.5em;
      width: 75%;
      max-width: 620px;
      margin: 1em auto;
    }

    .top-page-product .top-page-content {
      height: 90%;
  }
    
    .top-page-product .top-page-content h1::before{
      top: -25%;
      left: 35%;
      width: 30%;
      height: 6px;
    }

    .top-page-product .top-page-content p {
      font-size: 1.1em;
      width: 75%;
      max-width: 620px;
      line-height: 1.8em;
    }
    .products ul {
      display: flex;
      gap: 1em;
      flex-wrap: wrap;
    }

    .products ul li p {
      font-size: 1.1em;
      line-height: 1.8em;
    }
  
    .product-title h3{
      width: 50%;
      text-align: left;
    }
  
  }
  
  @media (min-width: 1200px) {
    .top-page-product {
      min-height: 830px;
      width: 68%;
    }

    .top-page-product .top-page-content{
      height: 100%;
      width: unset;
      text-align: left;
      margin: 0;
      padding: 4em;
      gap: 2em;
    }
  
    .top-page-product .top-page-content h1 {
      margin: 0;
      padding: 0;
      font-size: 4.3em;
    }
  
    .top-page-product .top-page-content h1::before{
      top: -10%;
      left: 0%;
      width: 20%;
      height: 10px;
    }
  
    .top-page-product .top-page-content p {
      font-size: 1.3em;
      width: 80%;
      margin: 0;
    }

    .tv-picture {
      display: unset;
      width: clamp(15vw, 45vw, 50vw );
      position: absolute;
      top: 32%;
      right: 2%;
    }

    .products {
      margin-top: -10em;
      margin-left: 4em;
      margin-bottom: 5em;
      padding: 0;
      text-align: left;

    }

    .product-container img {
      width: 350px;
    }

    .product-container h3, span, p {
      text-align: left;
    }
  }